* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  position: relative;
}

.strong {
  padding: 15px;
  position: absolute;
  left: 241px;
  top: 35px;
}

.box {
  display: flex;
  justify-content: space-around;
  padding: 100px;
}

.li_ul {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  gap: 20px;
}

.box {
  position: relative;
}

.ahref {
  color: #000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.h3container{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ahref:hover {
  transition: 0.3s;
  font-weight: 600;
}

.img2 {
  width: 100px;
  position: absolute;
  left: -50px;
  top: 17rem;
}

.forh {
  padding: 200px;
  font-size: 30px;
}

.h4_lorem{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.h1_box {
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img3 {
  width: 523px;
  height: 448px;
}

.btn {
  width: 200px;
  height: 40px;
  background-color: #458ff6;
  margin-top: 40px;
  border: 2px solid #458ff6;
  color: #fff;
  border-radius: 30px;
}

.box2 {
  display: flex;
  height: 750px;
  align-items: center;
  justify-content: space-evenly;
}

.lorem {
  justify-content: space-around;
  max-width: 500px;
  padding-top: 140px;
}

.h2_section {
  border-bottom: 1px solid #000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.btn:hover {
  border: 3px solid #168ec1;
  background-color: aliceblue;
  color: #168ec1;
  cursor: pointer;
}

.p_navbar{
  width: 900px;
  align-items: center;
  padding-left: 21rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container1{
  max-width: 1400px;
  margin: auto;
}

.li_22{
  display: flex;
  height: 350px;
  align-items: center;
  margin: auto;
}

.shadow1{
  box-shadow: 0px 0px 7px -1px #7d7d7d;
  max-width: 300px;
  height: 300px;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
}

.h3_ul{
  padding-top: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img_li{
  padding-top: 30px;
}

.box33{
  justify-content: space-around;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.box22{
  justify-content: space-around;
}

.li_22{
  justify-content: space-around;
}

.btn2 {
  width: 150px;
  height: 40px;
  background-color: #458ff6;
  margin-top: 40px;
  border: 2px solid #458ff6;
  color: #fff;
  border-radius: 30px;
}

.btn2:hover {
  border: 3px solid #168ec1;
  background-color: aliceblue;
  color: #168ec1;
  cursor: pointer;
}

.readmore{
  max-width: 1400px;
  margin: 0 auto;
  margin-left: 610px;
  margin-top: 30px;
}

.p3_ul{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #7d7d7d;
}